h1 {
  text-align: center;
}

.content {
  background-color: #009de0;
  margin: 3rem;
  padding: 1rem;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  text-align: center;
  width: 100%;
  height: auto;
}
