@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
    font-family: "Noto Sans", sans-serif;
}

header {
    text-align: center;
}

h2 {
    text-align: center;
}

.cell-content {
    display: grid;
    /* new */
    align-items: center;
    /* new */
    justify-items: center;
    /* new */
    border-radius: 5px;
    height: 50px;
    font-size: 2.5rem;
    color: white;
}


/*Ejercicio 1*/

.grid-container {
    display: grid;
    background-color: #71F79F;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.box {
    background-color: #15B097;
}


/*Ejercicio 2*/

.container2 {
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.grid-item {
    background-color: #A8C686;
    height: auto;
}

.e {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #669BBC;
}


/*Ejercicio 3*/

.container3 {
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.grid-obj {
    height: auto;
}

.alfa {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #586BA4;
}

.beta {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #324376;
}

.gamma {
    background-color: #F5DD90;
}

.delta {
    background-color: #F68E5F;
}

.epsilon {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #F76C5E;
}