@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
}

.cell-content {
  display: flex;
  border-radius: 5px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
}

/*Ejercicio 1*/
.grid-container {
  display: grid;
  background-color: #fff275;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}

.box {
  background-color: #6699cc;
}

/*Ejercicio 2*/
.container2 {
  display: grid;
  background-color: darkgoldenrod;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.grid-item {
  background-color: rgb(164, 164, 238);
  height: auto;
}

.e {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
/*Ejercicio 3*/

.container3 {
  display: grid;
  background-color: chocolate;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.grid-obj{
    background-color: aquamarine;
  height: auto;
}

.alfa{
    grid-column-start:1;
    grid-column-end:4;
}

.beta{
grid-column-start: 1 ;
grid-row-start:2;
grid-row-end: 4;
}

.epsilon{
    grid-column-start: 2;
    grid-column-end: 4;
}