.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "div1 div2 div3 div4 div5 div6"
    "div7 div8 div8 div4 div5 div6"
    "div7 div8 div8 div4 div5 div6";
  gap: 5px;
  background-color: skyblue;
  padding: 10px;
}

.div1 {
  grid-area: div1;
  background-color: #f94144;
}

.div2 {
  grid-area: div2;
  background-color: #f3722c;
}

.div3 {
  grid-area: div3;
  background-color: #f8961e;
}

.div4 {
  grid-area: div4;
  background-color: #f9844a;
}

.div5 {
  grid-area: div5;
  background-color: #f9c74f;
}

.div6 {
  grid-area: div6;
  background-color: #90be6d;
  width: 30px;
}

.div7 {
  grid-area: div7;
  background-color: #43aa8b;
}

.div8 {
  grid-area: div8;
  background-color: #4d908e;
}
